@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

h1 {
  font-family: 'Righteous', cursive;
  font-size: 100;
  color: #00E4FF;
  text-align: left;
  margin-top: 100;
}

header {
  display: inline;
}

label {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: #0F0F0F;
}

#logo {
  width: 30%;
  height: auto;
  float: left;
  margin-bottom: 100;
  padding: 100;
}

canvas {
  background: white;
  width: 100%;
  height: 50%;
  margin: 10;
  color: black;
}

table, th, td {
  margin-top: 5%;
  border: 3px solid white;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

button {
  margin-top: 5%;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #00E4FF; /* Green */
  color: white;
}

input {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: white;
  text-align: center;
}
